<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.HS" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">

<name>dev App Print</name>

<description>
    Impresion de ticketes para transferencias de pasajeros
</description>

<author email="soporte@lmsoluciones.co" href="http://www.lmsoluciones.co">
    LM SOLUCIONES
</author>

<content src="index.html" />

<access origin="*" />

<feature name="Printer">
    <param name="ios-package" value="APPPrinter" />
</feature>

<gap:plugin name="de.appplant.cordova.plugin.printer" />

<icon src="assets/img/icon.png" platform="android">

</widget>