<?xml version='1.0' encoding='utf-8' ?>
<widget id="com.example.HS" 
		version="1.0.0" 
		xmlns="http://www.w3.org/ns/widgets" 
		xmlns:gap="https://phonegap.com/ns/1.0" 
		xmlns:cdv="http://cordova.apache.org/ns/1.0">

<name>Dev App Print</name>

<description>
    Impresion de ticketes para transferencias de pasajeros
</description>

<author email="soporte@lmsoluciones.co" href="http://www.lmsoluciones.co">
    LM SOLUCIONES
</author>

<plugin name="cordova-plugin-x-toast" spec="~2.7.2" />
<plugin name="cordova-plugin-printer"/>

<icon src="assets/img/icon.png" />

</widget>