<?xml version='1.0' encoding='utf-8' ?>
<widget id="com.example.HS" 
		version="1.0.0" 
		xmlns="http://www.w3.org/ns/widgets" 
		xmlns:gap="https://phonegap.com/ns/1.0" 
		xmlns:cdv="http://cordova.apache.org/ns/1.0">

<name>Dev App Print</name>

<description>
    Impresion de ticketes para transferencias de pasajeros
</description>

<author email="soporte@lmsoluciones.co" href="http://www.lmsoluciones.co">
    LM SOLUCIONES
</author>

<content src="index.html" />
<access origin="*" />

<allow-intent href="http://*/*" />
<allow-intent href="https://*/*" />
<allow-intent href="tel:*" />
<allow-intent href="sms:*" />
<allow-intent href="mailto:*" />
<allow-intent href="geo:*" />

<plugin name="de.appplant.cordova.plugin.printer" spec="0.7.1" />
<plugin name="cordova-plugin-whitelist" spec="1.3.4" />

<icon src="assets/img/icon.png" />

</widget>